{% load crispy_forms_tags %}
{% load static %}


<html>
<head>
<style>

h1 {text-align: center; line-height: 520px; padding-right:30px}
p {text-align: center;}
div {text-align: center;}
input {text-align
div { height: 50px; border: 1px solid blue;}

</style>
</head>
<body>

<link rel="stylesheet" href="{% static 'css/login.css' %}">

<h1>Login Page</h1>
<div class="login">

  <form method="post">

  {% csrf_token %}
  {{form.as_p}}

  <div>
  <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
    </div>


</form>
 </form>
</div>

</body>
</html>


